body {
    background-color: rgb(35, 40, 45);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 140px;
    margin-bottom: 20px;
  }
  
  h2 {
    color: rgb(240, 240, 240);
    font-family: "Courier New"
  }

  h3 {
    color: rgb(240, 240, 240);
    font-family: "Courier New"
  }

  p {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: rgb(240, 240, 240);
    font-family: "Courier New";
    font-size: 20px;
  }

  button {
    margin-left: 10px;
    color: rgb(240, 240, 240);
    background-color: rgb(40, 45, 50);
    font-family: "Courier New";
    font-size: 20px;
  }

  nav a {
    color: rgb(240, 240, 240);
  }
